# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyt
*.pdb

# Virtual environment
.venv/
env/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Pytest / coverage
.coverage
htmlcov/
.pytest_cache/

# Byte-compiled / C extensions
*.so
*.egg
*.egg-info/
dist/
build/

# Environment variables
.env
